/* アニメーションを定義 */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}

img {
    width: 100%;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    animation: fadeIn 1s ease-in;
}

.main {
    width: 750px;
    max-width: 100vw;
    margin: auto;
    background-color: #ffff;
}

.fv {
    position: relative;
    background: url(../img/back01.png);
    background-size: 100% 100%;
}

.fv_img01 {
    padding-top: 1vw;
}


.fv_img01 .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards 0.4s;
  }  

.fv_img02 {
    width: min(670px,89.333333333333333vw);
    position: absolute;
    bottom: 14.5%;
    left: 5%;
}

.fv_img03 {
    width: min(80px,10.666666666666667vw);
    margin: min(435px,58vw) auto 0;
    padding-bottom: min(15px, 2vw);
}

.fv_img04 {
    position: absolute;
    top: 5%;
    right: 11%;
    width: min(175px,23.333333333333333vw);
    height: min(175px,23.333333333333333vw);
    animation: rotate 20s linear infinite;
    transform-origin: center; /* 回転の中心を画像の中心に設定 */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-100%);
    }
    }
    .scroll-infinity__wrap {
      display: flex;
      overflow: hidden;
      margin-top: -15%;
    }
    .scroll-infinity__list {
      display: flex;
      list-style: none;
      padding: 0
    }
    .scroll-infinity__list--left {
      animation: infinity-scroll-left 110s infinite linear 0s both;
    }
    .scroll-infinity__item {
      width: calc(800vw / 6);
    }
    .scroll-infinity__item>img {
      width: 100%;
    }

  
.sec01 {
    background: url(../img/back02.png);
    background-size: 100% 100%;
}

.sec01_img01 {
    width: min(680px,90.666vw);
    margin: auto;
    padding-top: 4%;
}

.sec01_img02 {
    width: min(596px,79.466666666666667vw);
    margin: auto;
    padding-top: 5%;
}

.sec01_img03 {
    width: min(590px,78.666666666666667vw);
    margin: auto;
    padding-top: 8%;
}

.sec01_img04 {
    width: min(228px,30.4vw);
    margin: auto;
    padding-top: 25%;
}

.sec01_img05 {
    padding-top: 5%;
}

.sec02 {
    background: url(../img/back03.png);
    background-size: 100% 100%;
    padding-top: 2.5vw;
}

.sec03 {
    background: url(../img/back04.png);
    background-size: 100% 100%;
    padding-top: 2.5vw;
}

/* sec04 */
.sec04 {
    background: url(../img/img18.png);
    background-size: 100% 100%;
    position: relative;
    height: 912px;
}

.sec04 .represent_slick01 {
    top: 30% !important;
}

.represent_slick01 .slick-img img {
    width: 300px !important;
    margin: auto !important;
    border-radius: 15px !important;
}

.slick-prev {
    left: 30% !important;
    top: 110% !important;
    z-index: 1;
}

.slick-next {
    right: 30% !important;
    top: 110% !important;
    z-index: 1;
}

.slick-dots li {
    margin: 0 !important;
}

.sec05 {
    background: url(../img/img19.png);
    background-size: 100% 100%;
    position: relative;
    height: 822px;
}

.sec05 .represent_slick01 {
    top: 25% !important;
}

.sec06 {
    background: url(../img/img20.png);
    background-size: 100% 100%;
    position: relative;
    height: 814px;
}

.sec06 .represent_slick01 {
    top: 25% !important;
}

.sec08 {
    position: relative;
}

.sec08_img02 {
    position: absolute;
    bottom: 9%;
    left: 18%;
}
