/* アニメーションを定義 */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

html {
    scroll-behavior: smooth;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}

img {
    width: 100%;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #FFE0E6;
    animation: fadeIn 1s ease-in;
}

@media (min-width: 751px) {
    body {
        background-image: url('../img/pc_back.png');
        background-attachment: fixed; /* 背景画像を固定 */
        background-size: cover !important; /* 背景画像を要素のサイズに合わせて調整 */
        background-position: center; /* 背景画像の位置を中央に設定 */
        background-repeat: no-repeat;
      }
    .main {
        margin-right: 0% !important;
        margin-left: 52vw !important;
        background-color: #ffff;
        box-shadow: 0px 5px 15px 0px rgba(21, 21, 21, 0.038);
    }

    .menu {
        display: block !important;
        opacity: 1;
        position: fixed;
        width: 365px;
        top: 15%;
        right: 56vw;
    }

    .menu_item {
        width: 266px;
        margin: auto;
    }
    .Prologue {
        margin-top: -100%;
    }
}

.main {
    width: 375px;
    max-width: 100vw;
    margin: auto;
    background-color: #ffff;
}

.fv {
    position: relative;
    background: url(../img/back01.png);
    background-size: 100% 100%;
}

.fv_img01 {
    padding-top: 1vw;
    width: 295px;
    margin: auto;
}

@media (max-width: 750px) {
    .fv_img01 {
        width: min(590px, 78.666666666666667vw);
        margin: auto;
    }
}

.fv_img01 .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards 0.4s;
  }  

.fv_img02 {
    width: 335px;
    position: absolute;
    bottom: 13.4%;
    left: 5%;
}

.fv_img03 {
    width: 40px;
    margin: 217.5px auto 0;
    padding-bottom: 7.5px;
}

.fv_img04 {
    position: absolute;
    top: 5%;
    right: 11%;
    width: 87.5px;
    height: 87.5px;
    animation: rotate 20s linear infinite;
    transform-origin: center; /* 回転の中心を画像の中心に設定 */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-100%);
    }
    }
    .scroll-infinity__wrap {
      display: flex;
      overflow: hidden;
      margin-top: -17%;
    }
    .scroll-infinity__list {
      display: flex;
      list-style: none;
      padding: 0
    }
    .scroll-infinity__list--left {
      animation: infinity-scroll-left 110s infinite linear 0s both;
    }
    .scroll-infinity__item {
      width: 600px;
    }
    .scroll-infinity__item>img {
      width: 100%;
    }
  
.sec01 {
    background: url(../img/back02.png);
    background-size: 100% 100%;
}

.sec01_img01 {
    width: 340px;
    margin: auto;
    padding-top: 4%;
}

.sec01_img02 {
    width: 298px;
    margin: auto;
    padding-top: 5%;
}

.sec01_img03 {
    width: 295px;
    margin: auto;
    padding-top: 8%;
}

.sec01_img04 {
    width: 114px;
    margin: auto;
    padding-top: 25%;
}

.sec01_img05 {
    padding-top: 5%;
    width: 360px;
    margin: auto;
}

.sec02 {
    background: url(../img/back03.png);
    background-size: 100% 100%;
    padding-top: 5%;
}


.sec02_img01 {
    width: 256px;
    margin: auto;
}

.sec03 {
    background: url(../img/back04.png);
    background-size: 100% 100%;
    padding-top: 5%;
}


.sec03_img01 {
    width: 300px;
    margin: auto;
}

/* sec04 */
.sec04 {
    background: url(../img/img18.png);
    background-size: 100% 100%;
    position: relative;
    height: 879.5px;
}

.sec04_h2 {
    width: 92px;
    padding: 11% 0 0 0;
    margin: auto;
}

.represent_slick01 {
    width: 80%;
    margin: auto;
}

.sec04 .represent_slick01 {
    top: 19% !important;
}

.represent_slick01 .slick-img img {
    width: 295px !important;
    margin: auto !important;
    border-radius: 15px !important;
}

.slick-prev:before {
    content: '＜' !important;
    font-size: 12px !important;
    font-weight: 600;
}

.slick-next:before {
    content: '＞' !important;
    font-size: 12px !important;
    font-weight: 600;
}

.slick-dots {
    bottom: -16% !important;
    color: #ffff !important;
}

.represent_slick01 .slick-dots li.slick-active button:before {
    color: white; /* 選択されたドットの色を白に変更 */
}

.represent_slick01 .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.5); /* 選択されていないドットを薄い白に */
  }
  
.represent_slick01 .slick-dots li button:hover:before,
.represent_slick01 .slick-dots li.slick-active button:before {
    color: rgba(255, 255, 255, 1); /* ホバー時と選択時に濃い白に */
}

.slick-prev {
    left: 30% !important;
    top: 110% !important;
    z-index: 1;
}

.slick-next {
    right: 30% !important;
    top: 110% !important;
    z-index: 1;
}

.slick-dots li {
    margin: 0 !important;
}

.sec05 {
    background: url(../img/img19.png);
    background-size: 100% 100%;
    position: relative;
    height: 815.5px;
}

.sec05 .represent_slick01 {
    top: 25% !important;
}

.sec06 {
    background: url(../img/img20.png);
    background-size: 100% 100%;
    position: relative;
    height: 815.5px;
}

.sec06 .represent_slick01 {
    top: 25% !important;
}

.sec07 {
    background: url(../img/img20_1.png);
    background-size: 100% 100%;
    position: relative;
    height: 815.5px;
}

.sec07 .represent_slick01 {
    top: 25% !important;
}

.sec08 {
    position: relative;
}

.sec08_h1 {
    position: absolute;
    width: 96px;
    top: 12%;
    left: 37%;
}

.sec09 {
    position: relative;
}

.sec09_h1 {
    position: absolute;
    width: 112px;
    top: 8%;
    left: 35%;
}

.sec09_img02 {
    position: absolute;
    bottom: 8.5%;
    left: 17.5%;
    width: 244px;
}



@media (max-width: 750px) {

    .main {
        width: 750px;
        max-width: 100vw;
    }

    .fv_img02 {
        width: min(670px,89.333333333333333vw);
    }

    .fv_img03 {
        width: min(80px,10.666666666666667vw);
        margin: min(435px,58vw) auto 0;
        padding-bottom: min(15px, 2vw);
    }

    .fv_img04 {
        width: min(175px,23.333333333333333vw);
        height: min(175px,23.333333333333333vw);
    }

    .scroll-infinity__item {
    width: calc(800vw / 6);
    }

    .sec01_img01 {
        width: min(680px,90.666vw);
    }

    .sec01_img02 {
        width: min(596px,79.466666666666667vw);
    }

    .sec01_img03 {
        width: min(590px,78.666666666666667vw);
    }

    .sec01_img04 {
        width: min(228px,30.4vw);
    }

    .sec01_img05 {
        width: min(720px,96vw);
    }

    .sec02_img01 {
        width: min(512px,68.266666666666667vw);
    }

    .sec03_img01 {
        width: min(600px,80vw);
    }

    /* sec04 */
    .sec04 {
        height: min(1759px,234.533333333333333vw);
    }

    .sec04_h2 {
        width: min(184px,24.533333333333333vw);
    }

    .represent_slick01 {
        width: 80%;
    }

    .represent_slick01 .slick-img img {
        width: min(590px,78.666666666666667vw) !important;
    }

    .slick-prev:before {
        font-size: min(24px,3.2vw) !important;
    }

    .slick-next:before {
        font-size: min(24px,3.2vw) !important;
    }

    .sec05 {
        height: min(1631px,217.466666666666667vw);
    }

    .sec06 {
        height: min(1631px,217.466666666666667vw);
    }

    .sec07 {
        height: min(1631px,217.466666666666667vw);
    }

    .sec08_h1 {
        width: min(192px,25.6vw);
    }

    .sec09_h1 {
        width: min(224px,29.866666666666667vw);
    }

    .sec09_img02 {
        width: min(488px,65.066666666666667vw);
    }

}

/*アニメーション用CSS*/
.updown{
    /* アニメーションの名前 */
    animation-name:UpDown;
    /* アニメーションの１回分の長さ */
    animation-duration: 1.5s;
    /* アニメーションの回数 */
    animation-iteration-count: infinite;
    /* アニメーションの進行具合 */
    animation-timing-function: ease-in-out;
    /* アニメーション再生の向き */
    animation-direction: alternate;
    }
    /* アニメーションの設定 */
    @keyframes UpDown{
    /* 開始地点 */
    0%{
    /* Y軸0px */
    transform: translateY(-20px);
    }
    /* 終了地点 */
    100%{
    /* Y軸50px */
    transform: translateY(0px);
    }
    }